<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="flipkart-navbar-search smallsearch col-sm-8">
                <div class="row">
        
            <div> 
                ques: {{ ques_dict.text }}
            </div>
                 <form class="form" method="POST" action="{% url 'main:question' %}"><!--Not applied yet -->

{% for i in ques_dict.option %}
<div>      
         <div>
{% if ques_dict.option|length > 1 %}
<input type="radio" name="option" value="{{ i.id }}">
{{ i.name }}
{% else %}
<input type="radio" name="option" value="{{ i.id }}" checked="checked" hidden>
{% endif %}
                
            </div>
        
<div>

                        {% csrf_token %}
                        
                        <br>
                        


{% endfor %}    


                        
{% if ques_dict.option|length < 2 %}
<input type="submit" name="yes" value="yes"><br>
        
                         <input type="submit" name="no" value="no" ><br>
                        <input type="submit" name="dont" value="don't know"><br>
{% else %}

        <input type="submit" name="yes" value="Next"><br>
       
{% endif %}
                                
                </div>
<div>
</form>
            </div>
</body>
</html>
