<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="flipkart-navbar-search smallsearch col-sm-8">
                <div class="row">
        <div>
            <div> 
                ques: {{ ques_dict.text }}
            </div>
            <div>
                name: {{ ques_dict.name }}
            </div>
        </div>


                    <form class="form" method="POST" action="{% url 'main:question' %}"><!--Not applied yet -->
                        {% csrf_token %}
                        
                        <br>
                        <input type="text" name="id" value="{{ ques_dict.id }}" hidden>
                        <input type="submit" name="yes" value="yes"><br>
                        <input type="submit" name="no" value="no" ><br>
                        <input type="submit" name="dont" value="don't know"><br>
                        


                    </form>
                </div>
            </div>
</body>
</html>
